.post {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #D7BFDC;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.post:hover {
    border: 2px solid #702963;
}


.post-info {
    display: flex;
    align-items: center;
}

.post-info > h5 {
    color: #E4A0F7;
    margin-left: 10px;
    cursor: pointer;
    font-size: 13px;
}

.post-info > h5:hover {
    text-decoration: underline;
}


.post-info > small {
    margin-left: 10px;
}



.post-body {
    display: flex;
    flex-direction: column;
}

.post-body > .post-question {
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
}



.post-body > .post-question > p:hover {
    text-decoration: underline;
}

.post-body > img {
    object-fit: contain;
    width: 100%;
    max-height: 400px;
    border-radius: 5px;
    cursor: pointer;
}




.post-question > .post-btn-answer {
    margin-left: auto;
    outline: none;
    border: none;
    background-color: rgb(240, 223, 250);
    color: purple;
    border-radius: 10px;
    padding: 10px;
}



.post-question > .post-btn-answer:hover {
    cursor: pointer;
    transform: scale(1.2);

}

/* 
flex-start: 기본설정, 플렉스
flex-end: 반대쪽으로 시작
center: 컨테이너 가운데부터
space-between: 여유공간두고 배치, 양 옆을 잡고 그 사이에서
space-around: 비슷함
*/
.post-footer-action {
    display: flex;
    
    justify-content: space-around;
    border-radius: 33px;
    padding: 5px;
    background-color:rgb(240, 223, 250);
    align-items: center;
}



.post-footer-action > .MuiSvgIcon-root {
    margin-right:40px;
    cursor: pointer;
    color:black;

}
/* 맨 왼쪽 아이콘 2개 */



.post-footer {
    display: flex;
    align-items: center;
    margin-top:10px;
}

.post-footer > .MuiSvgIcon-root {
    color:black;
    margin-right: 40px;
    cursor: pointer;
}


.post-footer-action > .MuiSvgIcon-root:hover {
    cursor: pointer;
    color: purple;
    background-color: darkgray;
}
/* 가운데 아이콘 2개 */


.post-footer-right {
    margin-left: auto;
}
.post-footer-right > .MuiSvgIcon-root {
    cursor: pointer;
    margin-left: 30px;
    color:black;
}

.post-footer-right > .MuiSvgIcon-root:hover {
    cursor: pointer;
    color:purple;
    background-color: darkgray;

}

/*오른쪽 아이콘 2개 */




.modal-question {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal-question > h1 {
    color: #8f1f1b;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal-question > p {
    color: gray;
    font-size: small;
}

.modal-question > p > .name {
    color: black;
    font-weight: bold;
}

.modal-answer {
    display: flex;
    padding-top: 20px;
    flex: 1;
}

.modal-answer > textarea {
    width: 100%;
    height: 300px;
    padding: 5px;
    font-size: 15px;
    color: black;
}

.modal-buttons {
    display: flex;
    align-items: center;
    margin-right: -20px;
    margin-top: 0px;
    border-top: 1px solid lightgray;
}

.modal-buttons > .can {
    margin-left: auto;
    border: none;
    margin-top: 5px;
    outline: none;
    color: gray;
    font-weight: 500;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
}
.modal-buttons > .add {
    border: none;
    outline: none;
    margin-top: 5px;
    background-color: rgb(0, 64, 255);
    color: white;
    font-weight: 700;
    padding: 10px;
    margin-right: 10px;
    border-radius: 33px;
    cursor: pointer;
}

.post-answer > p > span > span > span{
    padding-right: 10px;
}

.post-answer > p:hover {
    background-color: rgba(30, 30, 30, 60%);
    color: rgba(241,241,241);
}