.widget-options {
    display: flex;
    cursor: pointer;
    flex-direction: column;
}

.widget-content {
    margin: 5px;
    display: flex;
    padding: 5px;
    border: 1px solid #D7BFDC;
}

.widget-content > img {
    height: 30px;
    border-radius: 5px;
}

.widget-content-title {
    margin-left: 10px;
}

.widget-content-title > h5{
    color: rgb(70, 68, 68);
}


.widget-content-title > p {
    color : gray;
    font-size: small;
}